.home {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #dd79f7;
    border-radius: 8px; 
    box-shadow: 0 7px 9px rgba(14, 1, 18, 0.203);
}

.content {
    margin-top: 20px;
}